div.row {
    color: black;
    font-size: 20px;
    text-align: center;
}

li {
    cursor: pointer;
    /*list-style: none;
    display: inline-block;
    margin: 45px;
    font-weight: bold;*/
}

div>input {
    background: inherit;
}

.productListPage {
    /*position: absolute;*/
    height: 100%
}

.productListPage>div {
    height: 100%;
    margin-top: 5%;
}


/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575px) {
    .productListPage>div {
        overflow-y: scroll;
    }
}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767px) {
    .productListPage>div {
        overflow-y: scroll;
    }
}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991px) {
    .productListPage>div {
        overflow-y: scroll;
        margin-top: 0px;
    }
    .productListPage {
        padding-bottom: 0px;
    }
}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199px) {}


/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

.works-grid.hide-titles .work-item .work-intro {
    opacity: initial;
    bottom: 0px;
}
.modal {
  position: fixed;
    top: 70%;
    left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%
}
.item-img{
    height: auto;
    width: 35px;
}
div.item:hover{
    cursor: pointer;
    color : gray;
}
.page-section{
    min-height: 800px;
    margin-top: 50px;
    text-align: center
}
.alt-features-item {
    margin: 0;
}
.alt-features-grid{
    margin-top: 5px;
}
.row>.col-sm-6,.col-md-2,.col-lg-2{
    margin: -1px;
}
.has-error{
    border: 1px solid red;
}
.brand-img{
    height: auto !important;
    width: 100px !important;
}
.alt-features-title,h2,a,button{
    text-transform: none;
}