.page-section{
    min-height: 800px;
    margin-top: 50px
}
.card-header{
    background-color: black;
    color: white;
    margin: 0;
}
.modal {
    width: 600px;
    position: fixed;
    left: 50%;
    top: 15%;
    margin-left: -300px;
    background: #fff;
    box-sizing: border-box;
    z-index: 99999;
    border: 8px solid #fff;
}
.user-img{
    height: 40px;
    width: 40px;
}
.has-error{
    border: 1px solid red;
}
.profile-page{
    margin: 0;
    padding: 0;
    min-height: 200px;
    text-align: left;
}
.profile-page-card{
    border: none;
}
.row{
    margin: 20px 0;
}
.bill-page>.row{
    margin: 10px 0;
}
.card-header{
    text-align: center;
}
.col-6{
    margin: -1px;
}