<div class="howitwork wow fadeInDown">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <div class="howitwork_caption">
        <h2>how it works</h2>
       </div>
      </div>
      
      </div>
      
      <div class="row">
 <!-- <div class="col-md-12">
     <img src="assets/images/process.jpg"  alt="">
 </div>
  -->
 
      
      <div class="col-md-10 col-xs-offset-1">
      <div class="first_left wow slideInLeft">
        <img src="assets/images/1_img.png" alt=""/>
        <div class="first_left_caption">
         <h3>Visit any brands website <br/>
 and select product</h3>
     
        </div>
      </div>
      
       <div class="first_left first_right wow slideInRight">
        <img src="assets/images/2_img.png" alt=""/>
        <div class="first_left_caption first_right_caption">
         <h3>Click <span class="pink">Order Now</span> of <br/>Two H's  website and <br/>paste product's URL</h3>
     
        </div>
      </div>
      
      <div class="first_left first_right first_bottom_left wow slideInLeft">
        <img src="assets/images/3_img.png" alt=""/>
        <div class="first_left_caption first_bottom_caption">
         <h3>confirm you order by <br/>
 paying security deposit</h3>
         
        </div>
      </div>
           
      </div>
      
      </div>
     
     
    </div>
   </div>