/*.main-nav.transparent {
    background: black !important;
}*/

/*.main-nav {
    height: auto !important;
}*/

.modal {
    width: 600px;
    position: fixed;
    left: 50%;
    padding: 20px !important;
    top: 15%;
    margin-left: -300px;
    background: #fff;
    box-sizing: border-box;
    z-index: 99999;
    border: 8px solid #fff;
}
.modal-header>h4 {
    margin: 0;
    width: auto;
    float: left;
    color: black;
}
@media (min-width: 1024px) {
    .inner-nav {
        display: block !important;
    }
}

.main-nav.transparent {
    /*opacity: 0.5;*/
}

.btn-facebook {
    background-color: #3B5998;
    margin-bottom: 10px
}

.btn-facebook>i {
    font-size: 20px;
}

.main-nav.transparent {
    background: rgba(0, 0, 0, 0) !important;
}

.has-error {
    border: 1px solid red;
}
.nav-header{
    background-color: red;
    text-align: center;
    color: white;
}
.nav-header>p{
    margin: 0;
    font-size: 12px;
}
/*.scroll-nav>li>a{
    height: 55px !important;
    line-height: 55px !important;
}*/
.user-img{
    margin-right: 5px;
    height: 40px;
    width: 40px;

}
.font-xxs{
    font-size: 11px;
}
.sub {
    width: 200px;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    background: rgb(234, 234, 234);
    margin-top: 13px;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
}

.sub li {
    display: block;
    width: 100%;
    margin: 0 !important;
}

.inner-nav ul li .sub li a {
    display: block;
    width: 100%;
    height: auto !important;
    line-height: 1.3 !important;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 11px 15px;
    font-size: 13px;
    text-align: left;
    text-transform: none;
    border-left: none;
    border-right: none;
    letter-spacing: 0;
    color: #b0b0b0 !important;
    cursor: pointer;
}

.mobile-on .mn-has-multi>li:last-child>a {
    border-bottom: 1px solid rgba(255, 255, 255, .065) !important;
}

.sub li a:hover,
.inner-nav ul li .sub li a:hover,
.sub li a.active {
    background: rgba(255, 255, 255, .09);
    color: #d94156 !important;
}

.sub li ul {
    left: 100%;
    right: auto;
    top: 0;
    border-left: 1px solid rgba(255, 255, 255, .07);
}

.inner-nav>ul>li:last-child .sub,
.inner-nav li .sub.to-left {
    left: auto;
    right: 0;
}

.inner-nav li:last-child .sub li ul,
.inner-nav li .sub li ul.to-left {
    left: auto;
    right: 100%;
    top: 0;
    border-left: none;
    border-right: 1px solid rgba(255, 255, 255, .07);
}

.mobile-on .inner-nav li:last-child .sub li ul {
    left: auto;
    right: auto;
    top: 0;
}
.nav-list-items{
    text-transform: uppercase !important;
    font-size: 13px !important;
    line-height: 26px;
}
.main-nav button{
    margin: 15px 0;
}
.small-height button{
    margin: 7px 0;
}
.main-nav a{
    height: 75px !important;
    line-height: 75px !important;
    text-transform: uppercase !important;
}
.main-nav button{
    text-transform: uppercase !important;
}
.small-height a{
    height: 55px !important;
    line-height: 55px !important;
}
.mobile-nav{
    height: 55px !important;
}
.col-6{
    margin: -1px;
}
