<section class="small-section light-background" (click)="closeMenu()">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-0">Shopping Cart</h1>
            </div>
            <div class="col-md-4 mt-30">
            </div>
        </div>
    </div>
</section>
<section class="page-section light-background" (click)="closeMenu()" *ngIf="showBill">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <table class="table table-striped shopping-cart-table" style="margin-top: 0">
                    <tr>
                        <th class="hidden-xs">
                            Photo
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                        </th>
                    </tr>
                    <tr *ngFor="let item of items; let i = index">
                        <td class="hidden-xs">
                            <a href="javaScript:void(0)"><img class="image" [src]="item.image" alt="" /></a>
                        </td>
                        <td style="width: 50%;">
                            <a href="javaScript:void(0)" title="">{{item.title}}</a>
                        </td>
                        <td>
                            {{item.price|currency:'GBP':true}}
                        </td>
                        <td>
                            <a href="javaScript:void(0)" (click)="Delete(item)"><i class="fa fa-times"></i> <span class="hidden-xs">Remove</span></a>
                        </td>
                    </tr>
                </table>
                <hr />
            </div>
            <div class="col-md-4 col-sm-12">
                <div style="background-color: f2f2f2;">
                    <div class="text align-right" style="width: 100%; margin-right: 25px">
                        <div>
                        </div>
                    </div>
                    <div class="text align-right pt-10 " style="width: 100%">
                        <div class="text align-right pt-10 bill-div">
                            <div>Total Amount of the Cart : <strong class="pull-right">{{bill.total_amount|currency:'GBP':true}}</strong></div>
                            <div>Total Shipping from GBP to Pak : <strong class="pull-right">{{bill.total_shipping|currency:'GBP':true}}</strong></div>
                            <div *ngIf='bill.brand_shipping != undefined'>Brand Shipping : <strong class="pull-right">{{bill.brand_shipping|currency:'GBP':true}}</strong></div>
                            <div>Taxes : <strong class="pull-right">{{bill.tax|currency:'GBP':true:'1.2'}}</strong> </div>
                            <div>Service Charges : <strong class="pull-right">{{bill.service_charges|currency:'GBP':true}}</strong></div>
                            <div> Total (GBP) : <strong class="pull-right">{{bill.grand_total|currency:'GBP':true}}</strong></div>
                            <div class="mb-10">Delivery Charges from GBP to Pak : <strong class="pull-right">{{bill.delivery_charges|currency:'PKR':true}}</strong></div>
                            <div class="imp-bill mt-0"> Total (PKR) : <strong class="pull-right">{{bill.price_pkr|currency:'PKR':true}}</strong></div>
                            <div class="mt-0"> Security Deposit : <strong class="pull-right">{{bill.security_deposit|currency:'PKR':true}}</strong></div>
                            <div class="mt-0"> Cash On Delivery : <strong class="pull-right">{{bill.cod|currency:'PKR':true}}</strong></div>
                        </div>
                        <div *ngIf="bill.discountMessage != undefined" class="alert success" style="margin-top: 10px;width: 100%;text-align: center"><i class="fa fa-lg fa-check-circle-o"></i>{{bill.discountMessage}}</div>
                        <div *ngIf="bill.discountMessage != undefined" style="margin-top: 5px; width: 100%">
                            <button class="btn btn-mod btn-round btn-small" (click)="DeletePromo()">Delete Promo</button>
                        </div>
                        <div style="margin-top: 5px; width: 100%" *ngIf="bill.discountMessage == undefined">

                            <form class="form contact-form" id="Promo-Form" [formGroup]="PromoForm" (ngSubmit)="RedeemPromo(PromoForm.value)">
                                <input type="text" [formControl]="PromoForm.controls['promo']" class="input-sm round form-control col-8" placeholder="Enter promo code"
                                    required>
                                    <button class="submit_btn btn btn-mod btn-round btn-small col-4" id="reg-btn" type="submit" [disabled]="!PromoForm.valid"
                                        style="padding: 5px">Redeem Promo</button>
                            </form>

                        </div>


                        <hr class="mb-60" />
                        <div class="row" id="promo" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                        </div>

                        <div style="margin-top: 10px">
                            <button class="btn btn-mod btn-round btn-small pull-left col-5 col-offset-1" routerLink='/buyNow' style="padding: 10px">Add More Items</button>
                            <a href="javaScript:void(0)" class="btn btn-mod btn-round btn-small pull-right col-6" (click)="showDetails()" style="padding: 10px">Proceed to Checkout</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="bill-page page-section light-background" (click)="closeMenu()" *ngIf="showDetail">
    <div class="container">

        <div class="row">

            <div class="col-md-8 col-sm-12" style="text-align: left">
                <div class="card bill-card" style="background-color: #f2f2f2">
                    <div style="display: inherit">
                        <div class="col-8">
                            <h4 class="card-title">Shipping Address</h4>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-mod btn-border btn-medium pull-right btn-change" *ngIf="!editingAddress" (click)="editingAddress = !editingAddress">Change</button>
                            <button class="btn btn-mod btn-border btn-medium pull-right btn-change" *ngIf="editingAddress" (click)="editProfile(complexForm.value);editingAddress = !editingAddress"
                                [disabled]="!complexForm.controls['address'].valid || !complexForm.controls['city'].valid || !complexForm.controls['country'].valid">Save</button>
                        </div>
                    </div>
                    <div class="card-block">

                        <hr />
                        <p class="card-text">{{user.displayName}}</p>
                        <p class="card-text" *ngIf="!editingAddress">{{user.address}} , {{user.city}} , {{user.country}}.</p>
                        <form class="form shipping-details" id="contact_form" [formGroup]="complexForm" *ngIf="editingAddress">
                            <div class="clearfix">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="address"> Street Address :</label>
                                        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['address'].valid && complexForm.controls['address'].touched}">
                                            <input type="text" [formControl]="complexForm.controls['address']" class="input-md round form-control" id="address" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="address"> City :</label>
                                        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['city'].valid && complexForm.controls['city'].touched}">
                                            <input type="text" [formControl]="complexForm.controls['city']" class="input-md round form-control" id="city" placeholder="City">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="address"> Country :</label>
                                        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['country'].valid && complexForm.controls['country'].touched}">
                                            <input type="text" [formControl]="complexForm.controls['country']" class="input-md round form-control" id="country" placeholder="Country">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="card bill-card" style="background-color: #f2f2f2">
                    <div style="display: inherit">
                        <div class="col-8">
                            <h4 class="card-title">Shipping Method</h4>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <div class="card-block">

                        <hr />
                        <p class="card-text">Standard Free</p>
                        <p class="card-text">Transit Time : 20 - 30 days</p>

                    </div>
                </div>
                <div class="card bill-card" style="background-color: #f2f2f2">
                    <div style="display: inherit">
                        <div class="col-8">
                            <h4 class="card-title">Order Details</h4>
                        </div>
                    </div>
                    <div class="card-block">

                        <hr />
                        <div class="card-text">
                            <p>If any of your products run out of stock or if the price changes:</p>
                            <form class="form" [formGroup]="checkBox" (ngSubmit)="submit()">
                                <div style="display: inline-flex" [ngClass]="{'has-error':!checkBox.controls['value'].valid && checkBox.controls['value'].touched}">
                                    <input type="radio" name="orderConditions" value="Purchase whatever is available" id="orderConditions" style="width: 20px;margin-right: 5px"
                                        [formControl]="checkBox.controls['value']">
                                        <label for="orderConditions" style="cursor: pointer">Purchase whatever is available</label>
                                </div>
                                <br />
                                <div style="display: inline-flex" [ngClass]="{'has-error':!checkBox.controls['value'].valid && checkBox.controls['value'].touched}">
                                    <input type="radio" name="orderConditions" value="Contact me" id="orderConditions2" style="width: 20px;margin-right: 5px"
                                        [formControl]="checkBox.controls['value']">
                                        <label for="orderConditions2" style="cursor: pointer">Contact me</label>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
                <div class="card bill-card" style="background-color: #f2f2f2">
                    <div style="display: inherit">
                        <div class="col-8">
                            <h4 class="card-title">Contact Info</h4>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-mod btn-border btn-medium pull-right btn-change" (click)="editingInfo = !editingInfo" *ngIf="!editingInfo">Change</button>
                            <button class="btn btn-mod btn-border btn-medium pull-right btn-change" (click)="editProfile(complexForm.value);editingInfo = !editingInfo"
                                *ngIf="editingInfo" [disabled]="!complexForm.valid">Save</button>
                        </div>
                    </div>
                    <div class="card-block">

                        <hr />
                        <p class="card-text" *ngIf="!editingInfo">{{user.phone}}</p>
                        <p class="card-text" style="text-transform: none" *ngIf="!editingInfo">{{user.email}}</p>
                        <form *ngIf="editingInfo" class="form shipping-details" id="contact_form" [formGroup]="complexForm">
                            <div class="clearfix">
                                <label>Phone Number :
                                    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['PhoneNo'].valid && complexForm.controls['PhoneNo'].touched}">
                                        <input type="text" [formControl]="complexForm.controls['PhoneNo']" class="input-md round form-control" placeholder="Phone Number"
                                            >
                                    </div>
                                    </label>
                                <label>Email :
                                    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['Email'].valid && complexForm.controls['Email'].touched}">
                                        <input type="text" [formControl]="complexForm.controls['Email']" class="input-md round form-control" placeholder="Email"
                                           required>
                                    </div>
                                    </label>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">

                <table class="table table-striped shopping-cart-table small-table">
                    <tr>
                        <th class="hidden-xs">
                            Photo
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Total
                        </th>

                    </tr>
                    <tr *ngFor="let item of items; let i = index">
                        <td class="hidden-xs">
                            <a href="javaScript:void(0)"><img src="assets/images/shop/previews/shop-prev-5.jpg" alt="" /></a>
                        </td>
                        <td>
                            <a href="javaScript:void(0)" title="">{{item.url | summary}}</a>
                        </td>
                        <td>
                            {{item.price|currency:'GBP':true}}
                        </td>
                    </tr>

                </table>

                <hr />
                <div class="text align-right pt-10 bill-div" style="width: 100%">


                    <div>Total Amount of the Cart : <strong class="pull-right">{{bill.total_amount|currency:'GBP':true}}</strong></div>
                    <div>Total Shipping from GBP to Pak : <strong class="pull-right">{{bill.total_shipping|currency:'GBP':true}}</strong></div>
                    <div *ngIf='bill.brand_shipping != undefined'>Brand Shipping : <strong class="pull-right">{{bill.brand_shipping|currency:'GBP':true}}</strong></div>
                    <div>Taxes : <strong class="pull-right">{{bill.tax|currency:'GBP':true:'1.2'}}</strong> </div>
                    <div>Service Charges : <strong class="pull-right">{{bill.service_charges|currency:'GBP':true}}</strong></div>
                    <div> Total (GBP) : <strong class="pull-right">{{bill.grand_total|currency:'GBP':true}}</strong></div>
                    <div class="mb-10">Delivery Charges from GBP to Pak : <strong class="pull-right">{{bill.delivery_charges|currency:'PKR':true}}</strong></div>
                    <div class="imp-bill mt-0"> Total (PKR) : <strong class="pull-right">{{bill.price_pkr|currency:'PKR':true}}</strong></div>
                    <div class="mt-0"> Security Deposit : <strong class="pull-right">{{bill.security_deposit|currency:'PKR':true}}</strong></div>
                    <div class="mt-0"> Cash On Delivery : <strong class="pull-right">{{bill.cod|currency:'PKR':true}}</strong></div>
                    <div *ngIf="bill.discountMessage != undefined" class="alert success" style="margin-top: 10px;width: 100%;text-align: center"><i class="fa fa-lg fa-check-circle-o"></i>{{bill.discountMessage}}</div>

                    <div>
                        <button class="btn btn-mod btn-round btn-full" [disabled]="!checkBox.valid || user.address == undefined" style="padding: 10px"
                            (click)="postOrder()" style="margin-top: 20px;padding: 10px">Place Order</button>
                    </div>

                </div>






            </div>




        </div>

    </div>

</section>
<section class="bill-page page-section light-background" (click)="closeMenu()" *ngIf="showGreet">
    <div class="container">
        <div class="row" style="letter-spacing: 0">
            <div class="col-3"></div>
            <div class="col-6" style="background-color: white;padding: 20px;text-align: left">
                <h4 style="color: #ba0202">Thank you!</h4>
                <p>We received your order. You'll receive an email confirming the order details shortly.</p>
                <p *ngIf="order != undefined" style="font-weight: bold">Order Number : {{order.order_number}}</p>
                <p *ngIf="order != undefined" style="font-weight: bold">Order Total : {{order.price_pkr|currency:'PKR':true}}</p>
                <p>Our Sales person will contact with you in 24 hours.</p>
                <div *ngIf="user != undefined">
                    <div *ngIf="user.email != undefined">
                        <p style="font-weight: bold">Your order confirmation will be sent to </p>
                        <p>{{user.email}}</p>
                    </div>
                </div>
                <p>If you have any queries please fell free to contact at sales@twohonline.com</p>
                <div style="text-align: center">
                    <button class="btn btn-mod btn-round btn-medium" (click)="Checkout();checkoutModal.close();">
                            Checkout
                    </button>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</section>
<modal #modal>
    <modal-header>
        <h4 class="modal-title">Thanks For Shopping</h4>
        <a href="javaScript:void(0)" (click)="modal.close()" class="modal-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </modal-header>
    <modal-body>
        Wants to Checkout ?
        <div *ngIf="promoMsg!=undefined">
            Promo Msg : {{promoMsg}}
        </div>

    </modal-body>
    <modal-footer>


        <button class="btn btn-mod btn-round btn-medium" (click)="modal.close();paymentModal.open()">
                            Checkout
                    </button>
    </modal-footer>
</modal>
<modal #promoModal>
    <modal-header>
        <h4 class="modal-title">Promo</h4>
        <a href="javaScript:void(0)" (click)="promoModal.close()" class="modal-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </modal-header>
    <modal-body>
        Enter Promo Code :
        <input type="text" name="promo" class="input-md round form-control" placeholder="PromoCode" pattern=".{3,100}" #promo required>

    </modal-body>
    <modal-footer>

        <button class="btn btn-mod btn-round btn-medium" (click)="promoModal.dismiss();">
                            Cancel
                    </button>
        <button class="btn btn-mod btn-round btn-medium" (click)="RedeemPromo(promo.value);promoModal.close()" *ngIf="promo.value.length == 10">
                            Enter
                    </button>
        <button type="button" class="btn btn-mod btn-medium btn-round btn-w" *ngIf="promo.value.length != 10">
                        Enter</button>
    </modal-footer>
</modal>

<modal #loginModal>
    <modal-header>
        <h4 class="modal-title">Log in First</h4>
        <a href="javaScript:void(0)" (click)="loginModal.close()" class="modal-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </modal-header>
    <modal-body>

        <div class="form-group">
            <input type="text" name="Email" id="Email" class="input-md round form-control" placeholder="Email" pattern=".{3,100}" #email
                required>
        </div>

        <div class="form-group">
            <input type="password" name="password" id="password" class="input-md round form-control" placeholder="Password" pattern=".{5,100}"
                #pass required>
        </div>
        <div id="alert">

        </div>

    </modal-body>
    <modal-footer>
        <button class="btn btn-mod btn-round btn-medium" (click)="doLogin({usernameOrEmail:email.value,password:pass.value});">
                            Login
                    </button>
    </modal-footer>
</modal>
<modal #paymentModal>
    <modal-header>
        <h4 class="modal-title">Payment Method</h4>
        <a href="javaScript:void(0)" (click)="paymentModal.close()" class="modal-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </modal-header>
    <modal-body>
        Please select your payment Method :

    </modal-body>
    <modal-footer style="text-align: center">

        <div style="width: 100%">
            <button class="btn btn-mod btn-round btn-medium" (click)="paymentModal.close()">
                            EasyPay
                    </button>
            <button class="btn btn-mod btn-round btn-medium" (click)="paymentModal.close();Checkout()">
                            Cash On Delivery
                    </button>
        </div>
    </modal-footer>
</modal>
<modal #addressModal>
    <modal-header>
        <h4 class="modal-title">User Details</h4>
        <a href="javaScript:void(0)" (click)="addressModal.close()" class="modal-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </modal-header>
    <modal-body>
        Please Enter your Address:
        <form class="form contact-form" id="contact_form" [formGroup]="AddressForm" (ngSubmit)="addressModal.close();modal.open();">
            <div class="form-group" [ngClass]="{'has-error':!AddressForm.controls['Address'].valid && AddressForm.controls['Address'].touched}">
                <input type="text" [formControl]="AddressForm.controls['Address']" class="input-md round form-control" placeholder="Address"
                    required>
            </div>paymentModal
            <hr/>
            <div class="pt-10">

                <button class="submit_btn btn btn-mod btn-medium btn-round btn-full" id="reg-btn" type="submit" [disabled]="!AddressForm.valid">Enter</button>
            </div>
        </form>

    </modal-body>
</modal>
<modal #AddModal>
    <modal-header style="text-align: center">
        <h4 class="modal-title" style="width: 100%">
            Promotions
        </h4>
        <a href="javaScript:void(0)" (click)="AddModal.close()" class="modal-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </modal-header>
    <modal-body style="text-align: center">
        if you buy {{itemsLength+1}} items then you will get 30% discount

    </modal-body>

</modal>
<modal #editAddressModal>
    <modal-header>
        <h4 class="modal-title">Shipping Address</h4>
        <a href="javaScript:void(0)" (click)="editAddressModal.close()" class="modal-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </modal-header>
    <modal-body>
        <form class="form shipping-details" id="contact_form" [formGroup]="complexForm" (ngSubmit)="editProfile(complexForm.value);editAddressModal.close()">
            <div class="clearfix">
                <div class="row">
                    <div class="col-12">
                        <label for="address"> Street Address :</label>
                        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['address'].valid && complexForm.controls['address'].touched}">
                            <input type="text" [formControl]="complexForm.controls['address']" class="input-md round form-control" id="address" placeholder="Address">
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="address"> City :</label>
                        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['city'].valid && complexForm.controls['city'].touched}">
                            <input type="text" [formControl]="complexForm.controls['city']" class="input-md round form-control" id="city" placeholder="City">
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="address"> Country :</label>
                        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['country'].valid && complexForm.controls['country'].touched}">
                            <input type="text" [formControl]="complexForm.controls['country']" class="input-md round form-control" id="country" placeholder="Country">
                        </div>
                    </div>
                </div>


            </div>

            <div class="pt-10">
                <button class="submit_btn btn btn-mod btn-medium btn-round btn-full" id="reg-btn" type="submit" [disabled]="!complexForm.controls['address'].valid || !complexForm.controls['city'].valid || !complexForm.controls['country'].valid">Save</button>
            </div>


        </form>


    </modal-body>
</modal>
<modal #editContactModal>
    <modal-header>
        <h4 class="modal-title">Contact Info</h4>
        <a href="javaScript:void(0)" (click)="editContactModal.close()" class="modal-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </modal-header>
    <modal-body>
        <form class="form shipping-details" id="contact_form" [formGroup]="complexForm" (ngSubmit)="editProfile(complexForm.value);editContactModal.close()">
            <div class="clearfix">
                <label>Phone Number :
                                    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['PhoneNo'].valid && complexForm.controls['PhoneNo'].touched}">
                                        <input type="text" [formControl]="complexForm.controls['PhoneNo']" class="input-md round form-control" placeholder="Phone Number"
                                            >
                                    </div>
                                    </label>
                <label>Email :
                                    <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['Email'].valid && complexForm.controls['Email'].touched}">
                                        <input type="text" [formControl]="complexForm.controls['Email']" class="input-md round form-control" placeholder="Email"
                                           required>
                                    </div>
                                    </label>

            </div>

            <div class="pt-10">
                <button class="submit_btn btn btn-mod btn-medium btn-round btn-full" id="reg-btn" type="submit" [disabled]="!complexForm.valid">Save</button>
            </div>


        </form>


    </modal-body>
</modal>
<modal #checkoutModal>
    <modal-header>
        <h4 class="modal-title">Checkout</h4>
        <a href="javaScript:void(0)" (click)="checkoutModal.close()" class="modal-icon">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </modal-header>
    <modal-body>

        <p>Your Order Successfully placed,</p>
        <p *ngIf="order != undefined">Order Number : {{order.order_number}}</p>
        <p>Our Sales person will contact with you in 24 hours.</p>
        <p>If you have any queries please fell free to contact at sales@twohonline.com</p>


    </modal-body>
    <modal-footer style="text-align: center">

        <div style="width: 100%">

            <button class="btn btn-mod btn-round btn-medium" (click)="Checkout();checkoutModal.close();">
                            Checkout
                    </button>
        </div>
    </modal-footer>
</modal>