<footer class="small-section bg-gray-lighter footer pb-60">
    <div class="container">

        <!-- Footer Widgets -->
        <div class="row align-left">

            <!-- Widget -->
            <div class="col-sm-6 col-md-3">
                <div class="widget">

                    <h5 class="widget-title font-alt">About</h5>

                    <div class="widget-body">
                        <div class="widget-text clearfix">

                            <p>
                               Two H Online Store lets you purchase from all US brands in Pakistan
                            </p>

                            <address>
                                <strong>Two H Online Store</strong>
                                <br> 1926 Summerfield Place
                                <br> Sugar Land, TX 77478
                                <br>
                                <abbr title="Phone">
                                                P:
                                            </abbr> +92 348 222 4161
                            </address>


                        </div>
                    </div>

                </div>
            </div>
            <!-- End Widget -->

            <!-- Widget -->
            <div class="col-sm-6 col-md-3">
                <div class="widget">

                    <h5 class="widget-title font-alt" >How Can We Help?</h5>

                    <div class="widget-body">
                        <ul class="clearlist widget-menu">
                            <li>
                                <a href="#" title="" routerLink="/help/policy">Delivery <i class="fa fa-angle-right right"></i></a>
                            </li>
                            <li>
                                <a href="#" title="" routerLink="/help/policy">Returns <i class="fa fa-angle-right right"></i></a>
                            </li>
                            <li>
                                <a href="#" title="" routerLink="/help/faq">Frequently Asked Questions <i class="fa fa-angle-right right"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- End Widget -->

            <!-- Widget -->
            <div class="col-sm-6 col-md-3">
                <div class="widget">

                    <h5 class="widget-title font-alt">Useful Information</h5>

                    <div class="widget-body">
                        <ul class="clearlist widget-menu">
                            <li>
                                <a href="#" title="" routerLink="/about-us">About Us <i class="fa fa-angle-right right"></i></a>
                            </li>
                            <li>
                                <a href="#" title="">Careers <i class="fa fa-angle-right right"></i></a>
                            </li>
                            <li>
                                <a href="#" title="">Privacy Policy <i class="fa fa-angle-right right"></i></a>
                            </li>
                            <li>
                                <a href="#" title="">Contact <i class="fa fa-angle-right right"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- End Widget -->

            <!-- Widget -->
            <div class="col-sm-6 col-md-3">
                <div class="widget">

                    <h5 class="widget-title font-alt">Social Media</h5>

                    <div class="widget-body">
                        <div class="widget-text clearfix">

                            <p>
                                Cras mattis est eget lacus dignissim, non consectetur velit pellentesque.
                            </p>

                            <!-- Social Links -->
                            <div class="footer-social-links">
                                <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                                <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </div>
                            <!-- End Social Links -->

                        </div>
                    </div>

                </div>
            </div>
            <!-- End Widget -->

        </div>
        <!-- End Footer Widgets -->

        <!-- Divider -->
        <hr class="mt-0 mb-60 mb-xs-40">
        <!-- End Divider -->
    </div>


    <!-- Top Link -->
    <div class="local-scroll">
        <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- End Top Link -->

</footer>